@import "../Utilidades/_Variables.scss";

<<<<<<< HEAD

 .card {
=======
.card {
>>>>>>> 3d1fe0913934e598441c6095d07c3ce92185cc1d
  // width: 200px;
  // height: 300px;
  width: 270px;
  height: 410px;
  background: #f5f5f5;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  // box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
}

.card:before {
  content: "";
  // position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.5s;
}

.card-info {
  width: 270px;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  color: #f5f5f5;
  opacity: 0;
  transform: translateY(20%);
  transition: 0.5s;
  align-content: center;
}

/*Text*/
.text-title {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
}

.text-body {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 0.9rem;
  margin: 5px 0 15px 0;
}

/*Button*/
.card-button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 4px;
  background: $detalles;
  color: #000000;
  font-weight: bold;
  transition: 0.4s ease;
}
.iconoShop {
  font-size: 30px;
  color: $detalles;
  :hover {
    color: $blanco;
  }
<<<<<<< HEAD
  .iconoHome {
    font-size: 30px;
    color: $blanco;
    :hover{
      color: $detalles;
    } 
    }

  .card:before {
    content: "";
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.5s;
=======
}
.iconoHome {
  font-size: 30px;
  color: $blanco;
  :hover {
    color: $detalles;
>>>>>>> 3d1fe0913934e598441c6095d07c3ce92185cc1d
  }
}

<<<<<<< HEAD
  .card-info {
    width: 270px;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    color: #f5f5f5;
    opacity: 0;
    transform: translateY(20%);
    transition: 0.5s;
  }
=======
.card:before {
  content: "";
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.5s;
}
>>>>>>> 3d1fe0913934e598441c6095d07c3ce92185cc1d

.card-info {
  width: 270px;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  color: #f5f5f5;
  opacity: 0;
  transform: translateY(20%);
  transition: 0.5s;
}

/*Text*/
.text-title {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
}

<<<<<<< HEAD
  /*Button*/
  .card-button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 4px;
    background: $detalles;
    color: #000000;
    font-weight: bold;
    transition: 0.4s ease;
  }
  .Iconos{
    display:flex ;
    gap: 15px;
=======
.text-body {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 20px;
}

/*Button*/
.card-button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 4px;
  background: $detalles;
  color: #000000;
  font-weight: bold;
  transition: 0.4s ease;
}
.Iconos {
  display: flex;
  gap: 50px;
>>>>>>> 3d1fe0913934e598441c6095d07c3ce92185cc1d
  .iconoShop {
    margin-top: 9px;
    font-size: 30px;
    color: $detalles;
    cursor: pointer;
    :hover {
      color: $blanco;
      transform: scale(1.1);
    }
  }
  .iconoHeart {
    margin-top: 2%;
    font-size: 40px;
    color: $detalles;
    cursor: pointer;
    :hover {
      color: rgb(215, 59, 59);
      transform: scale(1.1);
    }
  }
}

/*Image*/
.card-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: $background-intermedio;
  img {
    display: flex;
    object-fit: cover;
    width: 270px;
    height: 410px;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    // box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
  }
}

/*Hover*/
// .card:hover {
//   transform: translate(2%);
// }

.card:hover:before {
  align-items: center;
  opacity: 1;
  background-color: rgba(13, 12, 12, 0.821);
}

.card:hover .card-info {
  align-items: center;
  opacity: 1;
  transform: translateY(0);
}

.card-button:hover {
  background: rgba(242, 229, 229, 0.4);
  color: $detalles;
}
@media screen and (max-width: 1700px) {
  .card {
    width: 200px;
    height: 300px;
  }
  .card-info {
    width: 200px;
    height: 300px;
  }
  .card-img {
    width: 100%;
    height: 100%;
    img {
<<<<<<< HEAD
      display: flex;
      object-fit: cover;
      width: 270px;
      height: 410px;
      position: relative;
      display: flex;
      align-items: flex-end;
      transition: 0.4s ease-out;
      // box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
    }
  }

  /*Hover*/
  .card:hover {
    transform: translate(2%);
  }

  .card:hover:before {
    align-items: center;
    opacity: 1;
    background-color: rgba(13, 12, 12, 0.821);
  }

  .card:hover .card-info {
    align-items: center;
    opacity: 1;
    transform: translateY(0);
  }

  .card-button:hover {
    background: rgba(242, 229, 229, 0.4);
    color: $detalles;
  }
 @media screen and (max-width: 1700px) {
    .card {
      width: 200px;
      height: 300px;
    }
    .card-info {
      width: 200px;
      height: 300px;

    }
  .card-img {
    width: 100%;
    height: 100%;
    img {
      width: 200px;
      height: 300px;
    }
  }
}
=======
      width: 200px;
      height: 300px;
    }
  }
}
>>>>>>> 3d1fe0913934e598441c6095d07c3ce92185cc1d
