@import "../Utilidades/_Variables.scss";

.cardCarrito {
    width: 800px;
    height: 220px;
    padding: .8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    background:transparent;
    // position: relative;
    // overflow: visible;
    // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  //  border-radius: .7rem;
    // border-right: 2px solid rgb(57, 57, 57);
    border-bottom: 1px solid #eaeaea;
   }
   
   .cardImg2 {
    height: 93%;
    width: 50%;
    border-radius: .5rem;
    transition: .3s ease;
    .cardImg2 img{
    border-radius: .5rem;
    }
   }
   
   .cardInfo2 {
    width: 40%;
    display: flex;
     padding-top: 0%;
     align-items: center;
     flex-direction:row;
     font-size:20px
   }
   .cardInfo3 {
    margin-left: 50px;
    width: 20%;
    display: flex;
     padding-top: 0%;
     align-items: center;
     flex-direction:row;
     font-size:20px
   }
   .spanCompras {
    font-size: 50px;
    color: $detalles;
    cursor: pointer;
    :hover{
      color: $blanco;
      transform:scale(1.1);
    }
  }
  .spanDelete {
    font-size: 50px;
    color: $detalles;
    cursor: pointer;
    :hover{
      color: $blanco;
      transform:scale(1.1);
    }
  }
   .cardCarrito svg {
    width: 30px;
    height: 40px;
   }
   .textDetalle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin-top: -10%;
    color:$blanco
   }
   .cardAbajo {
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap:50px
    // border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .textNameCarrito {
    font-weight: 700;
    font-size: 1em;
    line-height: 1.5;
    color:$blanco
   }
   
   .textDetalle {
    margin-top: 10px;
    font-size: .9em;
    // padding-bottom: 10px;
   }
   
   /*Button*/
   .cardButton2 {
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 60px;
    transition: .3s ease-in-out;
    .iconoDelete{
      font-size: 40px;
    }
   }
   
   /*Hover*/
   .cardImg2 :hover {
    transform: translateY(-25%);
   
   }
   
   .cardButton2:hover {
    border: 1px solid $detalles;
    background-color: $detalles
   }
   