@import "../Utilidades/_Variables.scss";
.RatingCard{
  display: flex;
 .formulario3 {
    background: black;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    width: 100%;
    height: 250px;
    padding-top: 3px;
    padding-bottom: 3px;
    left: 0;
    right: 0;
    position:relative;
    border-top: 5px solid $detalles
  }
  ::-webkit-input-placeholder {
    font-size: 1.1em;
  }
  
  .name2 {
    background-color: #ebebeb;
    color: rgb(0, 0, 0);
    font-size: 1.1em;
  }
.Stars{
  margin-left: 40%;
  padding: 10px
}

  .formularioEntry3 {
    width: 80%;
    display: block;
    margin: 25px auto;
    padding: 10px;
    border-radius: 2px;
    border: none;
  }
  .submit2 {
    width: 50%;
    color: rgb(0, 0, 0);
    background-color: $detalles;
    font-size: 20px;
    cursor: pointer
  }
  .submit2:hover {

    background-color: $background-intermedio;
    color:$detalles;
  }
.ratingStyle{
  margin-left: 180px;
}

}
  @media screen and (max-width: 500px) {
    .form3 {
      margin-left: 15px;
      width: 330px;
 
    }
    ::-webkit-input-placeholder {
      font-size: 1.3em;
    }
    .formEntry3 {
      min-width: 240px;

    }
    .RatingCard{
      display: flex;
    .Stars{
      margin-left: 15%;
      padding: 10px
    }
  }
  }