@import "../Utilidades/_Variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

section {
  .header-info {
    height: 100%;
    // object-position: 35% 15%;  
    -webkit-box-shadow: inset 630px -7px 120px 106px rgba(0,0,0,0.91);
    -moz-box-shadow: inset 630px -7px 120px 106px rgba(0,0,0,0.91);
    box-shadow: inset 630px -7px 120px 106px rgba(0,0,0,0.91);
  }
  .contenedor-info{
    width: 100%;
    // position: fixed;
  }
  .contenedor-descripcion {
    min-height: calc(100vh - 110px);
    color: #ece7e7;
    letter-spacing: 1px;
    // margin-top: 120px;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-start;
    justify-content: center;
    p{
      display: block;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
    h3 {
      width: 50%;
      text-align: left;
      // font-family: 'McLaren', cursive;
      font-family: 'Mochiy Pop One', sans-serif;
      font-size: 2.2rem;
      font-weight: 400;
    }
    .contenedor-estrellas {
      margin-top: -10px;
      width: 240px;
      display: flex;
      justify-content: space-around;
      svg {
        color: $detalles;
        font-size: 25px;
      }
    }
    .descripcion {
      width: 35%;
      padding: 20px;
      line-height: 25px;
      margin-left: -1%;
      text-align: left;
      font-size: 20px;
    }
    ul {
      width: 50%;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      li {
        margin-left: 15px;
      }
    }
    .lista-generos {
      margin-top: -0.3%;
      li {  
        color: $detalles;
      }
    }
    .contenedor-links {
     margin-top: 30px;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-content: stretch;
     align-items: center;
      button {
        margin: 20px 20px;
        width: 120px;
        height: 35px;
        font-size: 20px;
        cursor: pointer;
        border: none;
        outline: none;
        background: transparent;
        color: white;
        font-weight: 500;
        position: relative;
        transition: all 0.5s;
        z-index: 1;
      }
      button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background-color:$detalles;
        z-index: -1;
        transition: all 0.5s;
      }
      button:hover::before {
        width: 100%;  
      }
      button:hover {
        color: black;
        font-weight: 700;
      }
      button:active:before {
       background: #b9b9b9;
      }
    .spanCompras{
      border: 1px solid #252525;
      display: flex;
      padding: .3em;
      cursor: pointer;
      border-radius: 50px;
      transition: .3s ease-in-out;
      background-color:$background-intermedio;
      color:$detalles;
      :hover{
      border: 1px solid $detalles;
      background-color: $detalles;
      color:$background-intermedio;
      border-radius: 50px;
      }
    }
    .Iconos{
      display:flex ;
      gap: 30px;
    .iconoShop {
      margin-top: 9px;
      font-size: 40px;
      color: $detalles;
      cursor: pointer;
      :hover{
        color: $blanco;
        transform:scale(1.1);
      }
    }
    .iconoHeart {
      margin-top: 2%;
      font-size: 50px;
      color: $detalles;
      cursor: pointer;
      :hover{
        color:rgb(215, 59, 59);
        transform:scale(1.1);
      }
    }
    }
    } 
  }
}
@media screen and (max-width: 1600px) {
  section {
  .header-info {
    -webkit-box-shadow: inset 450px -7px 120px 106px rgba(0,0,0,0.91);
    -moz-box-shadow: inset 450px -7px 120px 106px rgba(0,0,0,0.91);
    box-shadow: inset 450px -7px 120px 106px rgba(0,0,0,0.91);
    .contenedor-info{
    .contenedor-descripcion {
      min-height: calc(100vh - 95px);
    }
  h3 {
    width: 50%;
  }
  .contenedor-estrellas {
    margin-top: -10px;
    width: 240px;
    display: flex;
    justify-content: space-around;
    svg {
      color: $detalles;
      font-size: 20px;
    }
  }
  .descripcion {
    width: 40%;
    padding: 20px;
    line-height: 25px;
    margin-left: -1%;
    text-align: left;
    font-size: 15px;
  }
  ul {
    width: 50%;
    li {
      margin-left: 15px;
    }
  }
  .contenedor-links {
   margin-top: 30px;
    button {
      width: 80px;
      height: 35px;
      font-size: 15px;
    }
    
    button:active:before {
     background: #b9b9b9;
    }
  
  .iconoShop {
    font-size: 30px;
    cursor: pointer;
  }
  .iconoHeart {
    font-size: 40px;

  }
}
}
}
  }
} 

@media screen and (max-width: 600px) {
  section {
    .header-info {
        width:100%;
        -webkit-box-shadow: inset 180px -7px 120px 56px rgba(0,0,0,0.91);
        -moz-box-shadow: inset 180px -7px 120px 56px rgba(0,0,0,0.91);
        box-shadow: inset 180px -7px 120px 56px rgba(0,0,0,0.91);
        
          .contenedor-info {
            .contenedor-descripcion {
              width: 100%;
              h3 {
                margin-left: 3%;
                font-size: 1.5rem;
                width: 80%;
                text-shadow: 2px 2px 2px rgb(0, 0, 0);
              }
              .descripcion{
                margin-left: -3%;
                width: 80%;
                font-size: 11px;
                letter-spacing: 0px;
                text-shadow: 2px 2px 2px rgb(0, 0, 0);
              }
              .item-descripcion{
                display: flex;
                margin-left: 3%;
                width: 80%;
                font-size: 15px;
                letter-spacing: 0px;
                text-shadow: 2px 2px 2px rgb(0, 0, 0);
              }
              .lista-generos{
                margin-left: 3%;
                width: 80%;
                font-size: 15px;
                letter-spacing: 0px;
                text-shadow: 2px 2px 2px rgb(0, 0, 0);
              }
            }
        }
      }
    }
  }

