@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
@import "../Utilidades/_Variables.scss";

.img{
    height: 50px;
    width: auto;
	margin-top: 20px;
	vertical-align: middle;
}
.userPicture {
	overflow: hidden;
    object-fit:cover;
    width: 3.5rem;
    height: 3.5rem;
    border: 3px solid  #848482;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.cardImage{
	height: 60px;
    width: 60px;
}
.userPicture .svg {
	width: 2.5rem;
    fill: currentColor;
}

.footerCenter ul{
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	align-items: center;
	gap:8px;
	margin-left:-20px;
}
.footerDistributed{
	background: #000000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font:  16px sans-serif;
    // position:absolute;
    // bottom: 0;
}

.footerDistributed .footerLeft,
.footerDistributed .footerCenter,
.footerDistributed .footerRight{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footerDistributed .footerLeft{
	width: 35%;
    text-align: left;
    margin-top: 10px;
}
.footerLeft p{
	color:  #c1c1c1;
    width: 60%;
}
.footerDistributed h3{
	color:  #ffffff;
	font: normal 26px 'Open Sans', cursive;
	margin-left: -10px;
    padding: 10px;
}

.footerDistributed h3 span{
	color: $detalles
}
/* Footer links */
.footerDistributed .footerLinks{
	color:  #ffffff;
	margin: 20px 0 22px;
	padding: 0;
}
.footerDistributed .footerLinks h4{
	display:inline-block;
	line-height: 1.8;
  	font-weight:400;
	text-decoration: none;
	color:   #ffffff;
}
.footerDistributed .footerLinks h4:hover{
	color: $detalles;
}

.footerDistributed .footerCompanyName{
	color:  rgb(116, 112, 112);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footerDistributed .footerCenter{
	width: 40%;
}
.footerAbout {
    width: 60%;
}

.footerDistributed .footerCenter i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}


.footerDistributed .footerCenter p{
	// display: inline-block;
	color: #ffffff;
    font-weight:400;
	vertical-align:middle;
	margin:0;
    padding: 14px;
    margin-top: 10px;
}

.footerDistributed .footerCenter p span{
    display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footerDistributed .footerCenter a{
    color:  #ffffff;
	text-decoration: none;
}

.footerDistributed .footerLinks h4:before {
  content: " | ";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
  text-decoration: none;
}

.footerDistributed .footerLinks .linkOne:before {
  content: none;
}

/* Footer Right */

.footerDistributed .footerRight{
    margin-top: 2%;
	width: 20%;
}

.footerDistributed .footerIcons{
	margin-top: 25px;
}

.footerDistributed .footerIcons{
	display: inline-block;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	/* line-height: 35px; */
	margin-right: 3px;
	/* margin-bottom: 5px; */
}



@media (max-width: 880px) {

	.footerDistributed{
		font: bold 14px sans-serif;
		margin-top: 20%;
		position:relative;
	}

	.footerDistributed .footerLeft,
	.footerDistributed .footerCenter,
	.footerDistributed .footerRight{
		display: block;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
	.footerDistributed .footerLeft{
		width: 100%;
		text-align:center;
		margin-top: 10px;
		p{
			color:  #c1c1c1;
			width:100%;
		}
	}
	.footerDistributed .footerCenter {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}
}


