@import "../Utilidades/_Variables.scss";


  .formulario form {
  display: flex;
  margin-top:20px;
  margin-left: 10px;
  input,
  button {
    background-color:  #191919;
    border: none;
    color: $detalles;
  }
  input {
    font-size: 12px;
    padding: 8px;
   width: 180px;
  }
  input::placeholder {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  form {
    width: 95%;
    button {
      width: 40px;
      .icono-nav {
        width: 20px;
        margin: 0%;
      }
    }
    input {
      font-size: 10px;
    }
    input::placeholder {
      font-size: 18px;
    }
  }
};

