@import "../Utilidades/_Variables.scss";

.ContainerLogin{
  background-image: url("../../img/Landing3.png");
  display: flex;
  width: 100%;
  background-size: cover;
  height: 100%;
 .form {
    margin-top: 35px;
    background: black;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    //=position: absolute;
    border-top: 5px solid $detalles;
  /*   z-index: 1; */
    // animation: bounce 1.5s infinite;
  }
  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }
  
  .title{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
    color: $blanco
  }
  .termsConditions{
    margin: 0 auto 5px 80px;
  }
  
  .pageTitle{
    font-size: 2em;
    font-weight: bold;
  }
  .secondaryTitle{
    color: grey;
  }
  
  .name {
    background-color: #ebebeb;
    color: rgb(0, 0, 0);
  }
  .name:hover {
    border-bottom: -5px solid $detalles;
    // height: 30px;
    width: 380px;
    // transition: ease 0.5s;
  }
  
  .message {
    background-color: #ebebeb;
    overflow: hidden;
    height: 10rem;
  }
  
  .message:hover {
    border-bottom: 5px solid $detalles;
    height: 12em;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .formEntry {
    // display: block;
    margin: 20px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
  }
  .submit {
    width: 200px;
    color: rgb(0, 0, 0);
    background-color: $detalles;
    font-size: 20px;
    cursor: pointer;
  }
  
  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    background-color:rgb(144, 144, 144);
    // border-top: 5px solid $blanco;
    border-radius: 0%;
    color:$detalles;
  }
}
  
  @keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 8px);
    }
  } 
