.slick-slider {
    width: 90%;
    color: rgb(255, 0, 0);
 
    .slick-prev:before,
    .slick-next:before {
      margin-top:935%;
      color:rgb(255, 0, 0);
      font-size: 0px;
      float: right ;
      margin-left: -30%;
    
    }
}
.sliderHeader{
    width: 100%;
    margin-top:-5px;
    
    ul li button{
        &:before{
            font-size:8px;
            color:rgb(158,158,171);
        }
    }
    li.slick-active button:before{
        color:rgb(255, 230, 0);
    }
    img{
        width: 100%;
    }
    
    .Carrusel{
        width: 100%;
    .slick-list{
        overflow:visible;
    }

    button{
        z-index:1;
    }

    }
}
@media screen and (max-width: 500px) {
    Slider{
        width: 360px;
    .sliderHeader{
        width:360px;
    }
}}