@import "../Utilidades/Variables";
@import "../Utilidades/Mixin";
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Mali&display=swap');

.conteiner {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url("../Img/Landing2.png"); 
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  align-content: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
	
	button {
		margin-left: 80%;
		margin-top: 120%;
		position: relative;
		display: inline-block;

		cursor: pointer;
		outline: none;
		border: 0;
		vertical-align: middle;
		text-decoration: none;
		background: transparent;
		padding: 0;
		font-size: inherit;
		font-family: inherit;
	 }
	 
	 button.learn-more {
		width: 12rem;
		height: auto;
	 }
	 
	 button.learn-more .circle {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: relative;
		display: block;
		margin: 0;
		width: 3rem;
		height: 3rem;
		background:$detalles;
		border-radius: 1.625rem;
	 }
	 
	 button.learn-more .circle .icon {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		background:$detalles
	 }
	 
	 button.learn-more .circle .icon.arrow {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		left: 0.625rem;
		width: 1.125rem;
		height: 0.125rem;
		background: none;
	 }
	 
	 button.learn-more .circle .icon.arrow::before {
		position: absolute;
		content: "";
		top: -0.29rem;
		right: 0.0625rem;
		width: 0.625rem;
		height: 0.625rem;
		border-top: 0.125rem solid rgb(0, 0, 0);
		border-right: 0.125rem solid  rgb(0, 0, 0);
		transform: rotate(45deg);
	 }
	 
	 button.learn-more .button-text {
		transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0.75rem 0;
		margin: 0 0 0 1.85rem;
		color:#fff;
		font-weight: 700;
		line-height: 1.6;
		text-align: center;
		text-transform: uppercase;
	 }
	 
	 button:hover .circle {
		width: 100%;
	 }
	 
	 button:hover .circle .icon.arrow {
		background: $detalles;
		transform: translate(1rem, 0);
	 }
	 
	 button:hover .button-text {
		color:$negro;
	 }
}

.div {
  margin-left: 50%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  overflow:hidden;
  justify-content: center;
  align-items: center;
}



@keyframes shake3856 {
 0% {
  -webkit-transform: translate(0);
  transform: translate(0);
 }

 20% {
  -webkit-transform: translate(-3px, 3px);
  transform: translate(-3px, 3px);
 }

 40% {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
 }

 60% {
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
 }

 80% {
  -webkit-transform: translate(3px, -3px);
  transform: translate(3px, -3px);
 }

 100% {
  -webkit-transform: translate(0);
  transform: translate(0);
 }
}

