@import "../Utilidades/_Variables.scss";
.ContainerLogin{
    min-height: calc(100vh - 60px - 20px);
    background-image: url("../../img/Landing3.png");
    display: flex;
    width: 100%;
    background-size: cover;
    height: 100%;
    flex-direction: column;
    align-items: center;
.Login-register{
    padding: 80px;
}
.Login{
    margin: 100px;
 ;
}
.pageTitle2{
    font-size: 1.2em;
    font-weight: 400;
    color:aliceblue
}
.name {
    background-color: #ebebeb;
    color: rgb(0, 0, 0);
  }
  .name:hover {
    border-bottom: 5px solid $detalles;
    // height: 30px;
    // width: 380px;
  }
  
  .formEntry2 {
    display: block;
    margin: 20px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
 
  }
}