@import "../Utilidades/_Variables.scss";

.pasarela{
    display: flex;
    min-height: calc(100vh - 80px);
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .pasarelaCont{
    display: flex;
     gap: 15px,
    }
    .compras{
        align-items:center;
    }
    p{
        border-bottom: 1px solid $detalles;
        padding: 1%;
        color:rgb(190, 189, 189);
    }
    .containerElement{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0% 13% 0% 13%;
    margin-top: 2%;
    margin-bottom: 2%;
    
    }
 .card-button{
    margin-top: 8%;
 }
}
.pasarela h3{
    color: white;
    font-weight: 300;
}
@media screen and (max-width: 500px){
    .pasarela{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .pasarelaCont{
        display: flex;
        flex-direction: column;
         gap: 15px,
        }
        .compras{
            align-items:center;
        }
        .containerElement{
            width: 100%;
            margin-top: 2%;
            margin-bottom: 2%;
        }
   }
}