@import "../Utilidades/_Variables.scss";
.containerTotal{
    width: 300px;
    height: 304px;
    margin: 0 2em ;
    border-left: 1px solid $background-claro;
    border-right: 1px solid $background-claro;
    position: sticky;
    top: 8em;
    

}

.containerTotal h4{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background-color:$background-claro;
    padding: .16em;
    color:$detalles
}

.containerTotal p{
    padding: 0em 2em;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center ;
    justify-content: space-around;
    margin-top: -3%;
    border-bottom: 1px solid $background-claro;
}

.containerTotal p h5{
    font-weight: 600;
    font-size:25px;
    margin: 0;
    color:white;
}

.containerTotal p h6{
    font-size: 22px;
    font-weight: 300;
    color:white;
}
.formEntry2 {
    margin-top: -5%;
    display: block;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
  }
  .submit {
    width: 200px;
    color: rgb(0, 0, 0);
    background-color: $detalles;
    font-size: 20px;
    cursor: pointer;
  }
  
  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    background-color: $background-intermedio;
    // border-top: 5px solid $blanco;
    border-radius: 0%;
    color:$detalles;
  }

  
@media screen and (max-width: 800px){
    .containerTotal{
        width: 80%;
    }
}