@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import "../Utilidades/_Variables.scss";
.container3{
    min-height: calc(100vh - 60px - 60px);
    display: flex;
   flex-direction: column;
.profileTitle{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 5px;
  color:#5A5A5A;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.cardContainer3{
    display: flex;
    justify-content: center;
    .namediv{
      margin-top: 4%;
    }
    .nombre{
      font-size: 30px;
      color: white;
  }
}
.ContainerPerfil{
    display: flex;
    padding: 1em;
    align-items: center;
    width: 350px;
    height: 400px;
    justify-content: right;
    border-radius: 0.75rem;;
    background-color:black;
    margin-bottom: 30px;
    flex-direction: column;
      }
    }
  .boton{
   margin-top: 10%;
  }
  .image{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid gray;
    display: inline-block;
    padding: 3px;
    border: 3px solid #d2d6de;
    margin-top: 20px;
    margin-right: 57px;
    margin-left: 57px;
  
  }
  
.containerOpciones{
  margin-top: -2%;
  margin-left: 35%;
  display:grid;
  padding:30px 0px 26px;
  grid-gap:25px;
  grid-template-columns:repeat(4,minmax(0,1fr));
  @media (max-width: 768px) {
   grid-template-columns: repeat(2, minmax(0, 1fr));
   margin-left: 1%;
   padding:8px 0px 6px;
  }
   .opciones{
    border:3px solid rgba(249,249,249,0.1);    
    border-radius:10px;
    box-shadow:rgb(0 0 0/69%) 0px 26px 30px -10px,
    rgb(0 0 0 /73%) 0px 16px 10px -10px;
    cursor:pointer;
    overflow: hidden;
    position: relative;
    transition:all 250ms cubic-bezier(0.25,0.46,0.45,0.94) 0s;
    img{
        inset: 0px;
        display: block;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        // position: fixed;
        transition: opacity 500ms ease-in-out 0s;
        width: 100%;
        z-index: 1;
        top: 0;
    }
    video {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        top: 0px;
        opacity: 0;
        z-index: 0;
    }

    &:hover{
        box-shadow:rgb(0 0 0/80%) 0px 40px 58px -16px,
        rgb(0 0 0/72%) 0px 30px 22px -10px;
        transform:scale(1.05);
        border-color:rgba(249,249,249,0.8);
        video {
            opacity: 1;
            z-index:-1;
          }
    }  
    }
   }
   @media screen and (max-width: 500px){
    .container3{
      .ContainerPerfil{
        display: flex;
        padding: 1em;
        align-items: center;
        width: 300px;
        height: 400px;
        justify-content: right;
        border-radius: 0.75rem;;
        background-color:black;
        margin-bottom: 30px;
        flex-direction: column;
          }
      
      
      
    }

  }
 



