@import "../../Styles/utilidades/Variables";

.contenedor-paginado {
  width: 300px;
  display: flex;
  justify-content:space-between;
  margin: auto;
  margin-bottom: 50px;

  p {
    margin-top: -1px;
    color: $detalles;
  }
  .buttonClass {
    border: none;
    background-color: transparent;
    svg {
      color: $blanco;
      font-size: 24px;
      font-weight: 200;
    }
    svg :hover {
      color:$detalles;
    }
  }
  input{
    margin-top: 5px;
    font-weight: 700;
    width: 25px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0.192);
    color:$blanco
  }
}
