@import "../../Styles/Utilidades/Variables";

.nav-superior {
  margin-right: 20%;
  width: 100%;
  background-color:$background-claro;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;

  ul{
    list-style: none;
  }
  .logo {
    margin-left: -40%;
    margin-top:8px;
    width: 130px;
  }
  .contenedor-iconos {
    flex-direction: row;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: -21%;
    padding: 0;
    .icono-nav {
      color: $blanco;
      font-size: 22px;
      margin-right: 20px;
      margin-left: 10px;
    }
    .icono-nav:hover {
      color: $detalles;
    }
  }
  .search{
    margin-left: -20%;
  }
  .select{
    margin-right: -20%;
  }
  .select-lenguaje {
    border-radius: 7px;
    background-color:#191919;
    color: $detalles;
    height: 30px;
    padding: 5px;
  }
  .login{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-right: 5%;
  button {
  position: relative;
  font-size: 0.8em;
  padding: 0.7em 1.4em;
  background-color:$background-claro;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #DEDEDE;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

  button::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 50%, rgb(227, 190, 2) 50%, rgb(191, 172, 4) 60%);
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

  button:hover::before {
  width: 2em;
  height: 2em;
}

  button:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}
  }
}

 @media screen and (max-width: 700px) {
  .nav-superior {
    .contenedor-iconos {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  nav {
    .contenedor-iconos {
      .link-nav {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .nav-superior {
    .logo {
      width: 40px;
      margin-left: 15px;
    }
    .contenedor-iconos {
      justify-content: flex-start;
    }
  }
}